body {
    background-color: #0e101c;
    color: #a03bff;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


.container-principal {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    border: solid #a03bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #1a1e33;
}

.caixa-titulo {
    text-align: center;
}

.caixa-imagem {
    text-align: center;
    margin-bottom: 20px;
}

img {
    border: solid #a03bff;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.caixa-autenticacao {
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}

.form-control {
    align-items: center;
    width: calc(80% - 22px);
    padding: 12px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #a03bff;
    background-color: #1a1e33;
    color: #a03bff;
    box-sizing: border-box;
}

.botao {
    display: inline-block;
    padding: 15px 40px;
    border: solid 2px 40px;
    border-radius: 5px;
    color: #a03bff;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.5s ease;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.botao:hover {
    border-radius: 15px;
    text-shadow: 0 0 12px #a03bff;
    box-shadow: 0 0 12px 1px #a03bff;
}

.container-formulario {
    max-width: 1000px; 
    width: 80%; 
    margin: 0 auto
}

h1 {
    text-align: center;
}

legend {
    text-align: center;
    margin: 20px 0; /* Aumenta a margem superior e inferior */
    font-size: 1.2em; /* Ajusta o tamanho do texto */
    letter-spacing: 2px; /* Define o espaçamento entre as letras */
    text-transform: uppercase; /* Converte o texto para maiúsculas */
}

#unidade-da-federacao::-webkit-scrollbar {
    width: 15px; /* Largura da barra de rolagem */
}

#unidade-da-federacao::-webkit-scrollbar-thumb {
    background-color: #a03bff; /* Cor do polegar */
    border-radius: 2px; /* Raio do polegar */
}

/* Estilo do polegar da barra de rolagem quando estiver em hover */
#unidade-da-federacao::-webkit-scrollbar-thumb:hover {
    background-color: #1a1e33; /* Cor do polegar em hover */
    border: solid 1px #a03bff;
}

.botao-enviar {
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;   
}